$response-h: 100%;
$response-w: 50%;

.response-window {
  height: $response-w;
  width: $response-h;
  background: gray;

  @include break(sm) {
    height: $response-h;
    width: $response-w;
  }
}
