$breakpoints: (
  sm: 39.375em,
  md: 47.5em,
  lg: 65em,
  xlg: 75em
);
// === MIXINS ===
@mixin break($size){
  @media screen and (min-width: map-get($breakpoints, $size)){
    @content;
  }
}

@mixin flex($justify: null, $align: null, $direction: null, $wrap: null) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
